@using Microsoft.AspNetCore.Identity;
@model List<BankApplication.Models.UserCreation>
    <h1>Reguests</h1>
<table>
    <tr>
        <th>Client name</th>
        <th>Client Email</th>
        <th>Passport series</th>
        <th>Passport number</th>
        <th>Identification passport number</th>
        <th>Phone number</th>
    </tr>


            
@foreach(var user in @Model)
{
    <tr>
             
             <td>@user.ClientName</td>
             <td>@user.Email</td>
             <td>@user.PassportSeries</td>
             <td>@user.PassportNumber</td>
             <td>@user.IdentificationNumber</td>
             <td>@user.Number</td>
             
             <td>
                <form asp-action="Reject" asp-route-clientId='@user.clId' asp-route-bankId="@user.bankId"  method="post" >
                 <button type="submit"> Reject</button>
                </form>
             </td>
             <td>
                <form  asp-action="Confirm" asp-route-clientId='@user.clId' asp-route-bankId="@user.bankId"  method="post">
                 <button type="submit"> Confirm</button>
                </form>
              </td>
   </tr>
}
            
    
</table>
