@using Microsoft.AspNetCore.Identity;
@model List<CreditCreation>
    <h1>Reguests</h1>
<table>
    <tr>
        <th>Needed sum</th>
        <th>Month procent</th>
        <th>Month amount</th>
    </tr>


            
@foreach(var apply in @Model)
    {
         <tr>
             
             <td>@apply.NeededSum</td>
             <td>@apply.MonthProcent</td>
             <td>@apply.Month</td>
             <td>
                <form asp-action="RejectCredit" asp-route-Id='@apply.Id' method="post" >
                  
                    
                 <button type="submit"> Reject</button>
                </form>

                <form asp-action="ConfirmCredit" asp-route-Id="@apply.Id" method="post">
                    
                 <button type="submit"> Confirm</button>
                </form>
           
              </td>
         </tr>
        
    }

            
            
    
 </table>

 